@font-face {
    font-family: 'gg sans';
    src: url('https://28rabitailleow.github.io/gg-sans/ggsans-Bold.woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('https://28rabitailleow.github.io/gg-sans/ggsans-SemiboldItalic.woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('https://28rabitailleow.github.io/gg-sans/ggsans-MediumItalic.woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans Normal';
    src: url('https://28rabitailleow.github.io/gg-sans/ggsans-BoldItalic.woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('https://28rabitailleow.github.io/gg-sans/ggsans-Semibold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('https://28rabitailleow.github.io/gg-sans/ggsans-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('https://28rabitailleow.github.io/gg-sans/ggsans-ExtraBold.woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('ggsans-ExtraBoldItalic.woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans Normal';
    src: url('https://28rabitailleow.github.io/gg-sans/ggsans-Normal.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans Normal';
    src: url('https://28rabitailleow.github.io/gg-sans/ggsans-NormalItalic.woff2');
    font-style: italic;
    font-display: swap;
}
